# Core
python-dotenv>=1.0.0
fastapi>=0.100.0
uvicorn[standard]>=0.22.0

# LangChain core
langchain>=0.1.0
langchain-community>=0.0.189
langchain-openai>=0.1.7
langchain-chroma>=0.1.0

# Vector DB
chromadb>=0.3.29

# Document loaders
unstructured>=0.9.15
pypdf>=3.12.1

# Utils
tqdm>=4.65.0
requests>=2.31.0

